@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

body {
  font-family: "Roboto";
}

header {
  width: 100%;
  height: 3.5rem;
  background-color: #202020;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header svg {
  width: 24px;
  height: 24px;
}

header button, header .yt-logo {
  cursor: pointer;
}

header .logo {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo button {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  padding: 8px;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}

header .logo .yt-logo {
  width: 100px;
  height: 26px;
  margin: 18px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b8b8b8;
  font-size: .6rem;
}

header .logo .yt-logo svg {
  fill: white;
  margin-right: 2px;
}

header .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

header .search-bar input {
  height: 40px;
  width: 100%;
  max-width: 563px;
  padding: 0 10px;
  border: 1px solid #303030;
  background-color: #121212;
  color: white;
}

header .search-bar input:focus {
  outline: none;
  border-color: #065fd4;
}

header .search-bar .search {
  width: 64px;
  height: 40px;
  background-color: #303030;
  border: 1px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

header .search-bar .voice {
  width: 40px;
  height: 40px;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 100%;
  margin-left: 8px;
}

header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .options .apps, header .options .options-btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  margin: 0 5px;
}

header .options .login {
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  font-size: .9rem;
  gap: 4px;
}

header .options .login svg {
  fill: #3ea6ff;
}

.main {
  width: 100%;
  height: calc(100vh - 3.5rem);
}

.main aside {
  width: 240px;
  height: inherit;
  color: white;
  background-color: #202020;
  overflow-y: scroll;
  padding: 12px 0;
  font-size: .9rem;
}

.main aside ul li {
  list-style: none;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  cursor: pointer;
}

.main aside ul li img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 24px;
}

.main aside ul li.selected {
  background-color: #303030;
}

.main aside ul li.access {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 32px;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main aside ul li.access button {
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  font-size: .9rem;
  gap: 4px;
}

.main aside ul li.access button svg {
  fill: #3ea6ff;
  margin-right: 0;
}

.main aside ul li.noHeight {
  height: auto;
}

.main aside ul hr {
  border: 1px solid #303030;
}

.main aside ul li.bottomLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main aside ul li.bottomLinks .section {
  padding: 8px 10px;
  width: 100%;
}

.main aside ul li.bottomLinks .section a {
  color: #aaaaaa;
  text-decoration: none;
  font-size: .8rem;
  font-weight: bold;
  margin-right: 5px;
}

.main aside ul li.bottomLinks .section p {
  color: #aaaaaa;
  font-size: .8rem;
  text-align: left;
  display: block;
  width: 100%;
}

.main aside h3 {
  font-size: .9rem;
  margin: 8px 0;
  color: #aaaaaa;
  padding: 8px 24px;
}

.main aside svg {
  width: 24px;
  height: 24px;
  fill: white;
  margin-right: 24px;
}
/*# sourceMappingURL=main.css.map */