*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

@font-face {
    font-family: "DMSans";
    src: url(fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: "DMSansBold";
    src: url(fonts/DMSans-Bold.ttf);
}

.hero{
    width: 100%;
    height: 53.125rem;
    background-image: url(img/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png);
    background-size: cover;
    margin-bottom: 8.2531rem;
    .hero-info{
        max-width: 66.8125rem;
        margin: auto;
        p{
            color: white;
            font-family: "DMSans";
            font-size: 1.25rem;
            width: 26.75rem;
        }
    }
    h1{
        font-size: 80px;
        font-family: "DMSansBold";
        margin-top: 180px;
        color: white;
        width: 32.4375rem;
    }
}

.overlay{
    position: absolute;
    background-image: linear-gradient(-288.73deg, rgba(0,0,0,.83), rgba(0,0,0,.01));
    width: 100%;
    height: 53.125rem;
    .listing{
        max-width: 66.8125rem;
        width: 66.8125rem;
        margin: auto;
        height: 6.25rem;
        font-family: "DMSansBold";
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 40px;
        font-size: 1.25rem;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
    }
}

header{
    height: 3.125rem;
    max-width: 66.8125rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: "DMSans";
    margin-top: 2rem;
}

nav{
    height: inherit;
    ul{
        height: inherit;
        list-style: none;
        display: inline-flex;
        gap: 60px;
        align-items: center;
        li a{
            color: white;
            cursor: pointer;
            text-decoration: none;
            font-family: "DMSansBold";
        }
        li.btn{
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            width: 13.1875rem;
            height: 3.125rem;
            background-color: #FFAC12;
            border-radius: 0px 18px 0px 0px;
            gap: 9px;
            cursor: pointer;
            p{
                font-weight: bold;
            }
        }
    }
}

.goodhands{
    display: flex;
    width: 77.375rem;
    img{
        width: 44rem;
    }
    p{
        font-family: "DMSans";
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    button{
        width: 13.0625rem;
        height: 4.375rem;
        background-color: black;
        color: white;
        border: none;
        font-family: "DMSansBold";
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        cursor: pointer;
    }
}

.goodhands2{
    @extend .goodhands;
    margin-top: 13.875rem;
    margin-left: auto;
}

.container{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.line{
    width: 169px;
    height: 4px;
    background-image: linear-gradient(90deg,#FFAC12, #000000);
}

h1{
    font-family: "DMSansBold";
    font-size: 3.125rem;
    margin: 20px 0px;
}

.backlayer{
    width: 100%;
    height: 113.5625rem;
    background-color: #f5f5f5;
    position: absolute;
    z-index: -1;
    transform: translateY(-216px);
}

.placelive{
    width: 66.875rem;
    margin: auto;
    .selector{
        width: 100%;
        height: 7.5rem;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        div{
            width: 16.6875rem;
            height: 100%;
            border-right: 1px solid #e4e4e4;
            padding: 0 30px;
            display: flex;
            align-items: center;
            select{
                border: none;
                font-family: "DMSansBold";
                font-size: 1.0625rem;
            }
        }
    }
}

.houses{
    margin-top: 4.75rem;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .house{
        width: 21rem;
        height: 26.125rem;
        background-color: white;
        border-radius: 1.5625rem;
        img{
            border-radius: 25px 25px 0 0;
        }
        .description{
            width: 100%;
            height: 100%;
            h3{
                margin: 30px;
                font-size: 1.5rem;
                font-family: "DMSansBold";
                font-weight: 800;
            }
            .icons{
                width: 100%;
                height: 60px;
                border-top: 1px solid #e4e4e4;
                display: flex;
                justify-content: space-between;
                p{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    font-family: "DMSans";
                    font-size: 17px;
                    align-items: center;
                }
                p:nth-child(n+2){
                    border-left: 1px solid #e4e4e4;
                }
            }
        }
    }
}

.blackgoodhands{
    width: 100%;
    height: 42.125rem;
    background-color: black;
    color: white;
    p{
        font-family: "DMSans";
    }
    > div{
        margin: auto;
        width: 29.6875rem;
        text-align: center;
        padding-top: 9.375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 13.1875rem;
        height: 3.125rem;
        background-color: #FFAC12;
        border-radius: 0px 18px 0px 0px;
        gap: 9px;
        cursor: pointer;
        margin-top: 30px;
        p{
            font-weight: bold;
        }
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 13.1875rem;
    height: 3.125rem;
    background-color: #FFAC12;
    border-radius: 0px 18px 0px 0px;
    gap: 9px;
    cursor: pointer;
    font-family: "DMSansBold";
    p{
        font-weight: bold;
    }
}

.clients{
    width: 100%;
    margin: 150px auto;
    .clients-box{
        width: 66.8125rem;
        height: 431px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 17.875rem 8.8125rem;
        grid-template-areas: "desc desc desc""client1 client2 client3";
        .client{
            width: 21rem;
            height: 8.8125rem;
            display: flex;
            align-items: center;
            align-self: flex-end;
            .client-info{
                width: 10.625rem;
                height: 3.0625rem;
                display: flex;
                gap: 1.25rem;
                margin: 0 40px;
                h3{
                    font-family: "DMSansBold";
                    font-size: 0.9375rem;
                }
                p{
                    font-family: "DMSans";
                    font-size: 0.9375rem;
                    color: #979797;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }
        .client:nth-child(1){
            grid-area: client1;
        }
        .client:nth-child(3){
            grid-area: client3;
        }
        .info{
            grid-area: desc;
            width: 336px;
            margin: auto;
            .line{
                width: 100%;
                margin-bottom: 2.25rem;
            }
            p{
                font-family: "DMSansBold";
                font-size: 1.5rem;
            }
        }
        .client.dark{
            background-color: black;
            grid-area: client2;
            .client-info{
                h3, p{
                    color: white;
                }
            }
        }
    }
}

footer{
    height: 34.4375rem;
    background-color: black;
    .footerInfo{
        width: 66.8125rem;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5rem;
        align-items: center;
        h1{
            color: white;
            font-size: 2.625rem;
            span{
                color: #FFAC12;
            }
        }
    }
    hr{
        max-width: 66.8125rem;
        color: #979797;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .footerNav{
        width: 66.8125rem;
        margin: auto;
        color: white;
        display: grid;
        grid-template-columns: 25.3125rem repeat(3, 1fr);
        font-family: "DMSansBold";
        font-size: 0.9375rem;
        .footerLinks{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .logo{
                width: 8rem;
            }
            .social{
                width: 134px;
                display: flex;
                gap: 40px;
            }
        }
        ul{
            font-family: "DMSans";
            list-style: none;
            li{
                margin: 5px 0px;
                color: #979797;
            }
        }
    }
}