@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: block;
  width: 1rem;
  background-color: #424242;
}

body::-webkit-scrollbar-thumb {
  background-color: #686868;
}

body::-webkit-scrollbar-button {
  display: block;
  height: 16px;
}

body::-webkit-scrollbar-button:vertical:start:increment {
  background: transparent url(img/arrowUp.png) no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
}

body::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

body::-webkit-scrollbar-button:vertical:end:decrement {
  background: transparent url(img/arrowDownInactive.png) no-repeat;
  background-size: 60%;
  background-position-x: center;
  background-position-y: center;
  height: 10px;
}

body::-webkit-scrollbar-corner {
  height: 0;
  display: none;
}

body::-webkit-scrollbar-corner {
  height: 0;
  display: none;
}

body {
  background-color: #18191a;
}

header {
  width: 100%;
  height: 56px;
  background-color: #242526;
  border-bottom: 1px solid #3a3b3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 2;
}
header label {
  position: absolute;
  top: 60px;
  color: #3a3b3c;
  background-color: #e4e6eb;
  padding: 8px 15px;
  border-radius: 7px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 500ms;
}
header label:hover {
  display: none;
}
header .search {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
header .search > img, header aside .main-menu .search > i, aside .main-menu header .search > i {
  cursor: pointer;
}
header .search .searchBar {
  height: 40px;
  background-color: #3a3b3c;
  border-radius: 25px;
  width: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
header .search .searchBar img, header .search .searchBar aside .main-menu i, aside .main-menu header .search .searchBar i, header .search .searchBar span {
  width: 1rem;
  height: 1rem;
}
header .search .searchBar input {
  height: 80%;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  caret-color: white;
  color: white;
  font-size: 1rem;
}
header .search .searchBar input::-moz-placeholder {
  font-size: 0.9rem;
  color: #b0b3b8;
}
header .search .searchBar input:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #b0b3b8;
}
header .search .searchBar input::placeholder {
  font-size: 0.9rem;
  color: #b0b3b8;
}
header .search .searchBar input:focus {
  outline: none;
}
header .links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-width: 111.59px;
  width: 100%;
}
header .links a span {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .links a span:hover {
  background-color: #3a3b3c;
}
header .links a img, header .links a aside .main-menu i, aside .main-menu header .links a i {
  width: 28px;
}
header .links a.active {
  border-bottom: 2px solid #2374e1;
}
header .links a:hover label {
  opacity: 1;
}
header .links a.videoGamesIcon {
  display: flex;
}
header .links a.plusIcon {
  display: none;
}
header .menu {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
header .menu button {
  width: 40px;
  height: 40px;
  background-color: #3a3b3c;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .menu button:hover {
  background-color: #4e4f50;
}
header .menu button:hover img, header .menu button:hover aside .main-menu i, aside .main-menu header .menu button:hover i {
  opacity: 0.8;
}
header .menu button:hover label {
  opacity: 1;
}
header .menu button img, header .menu button aside .main-menu i, aside .main-menu header .menu button i {
  width: 20px;
  height: 20px;
}
header .menu button img.profile, header .menu button aside .main-menu i.profile, aside .main-menu header .menu button i.profile {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
header .menu button.menuBtn {
  display: flex;
}
header .menu button.plusBtn {
  display: none;
}

aside {
  min-width: 280px;
  max-width: 300px;
  height: calc(100vh - 56px);
  padding: 1rem 1rem;
  color: white;
  font-weight: 600;
  overflow-y: auto;
}
aside::-webkit-scrollbar {
  width: 10px;
}
aside::-webkit-scrollbar-track {
  background-color: transparent;
}
aside::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
aside:hover::-webkit-scrollbar-thumb {
  background-color: #4e4f50;
}

aside .menu-btn {
  width: 100%;
  height: 44px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 0.9rem;
}
aside .menu-btn label {
  cursor: inherit;
}
aside .menu-btn:hover {
  background-color: #3a3b3c;
}
aside .main-menu img, aside .main-menu i {
  border-radius: 100%;
  width: 36px;
  height: 36px;
}
aside .main-menu i {
  background-size: cover;
}
aside .main-menu hr {
  margin: 1rem 0;
  border: 0.7px solid #3a3b3c;
}
aside .main-menu h3 {
  color: #b0b3b8;
  font-size: 1rem;
}
aside .links a {
  font-weight: 400;
  font-size: 0.8rem;
  color: #b0b3b8;
}
aside .links a::after {
  content: "·";
  font-size: 1rem;
  font-weight: bold;
}
aside .links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
aside .links a:nth-last-child(1)::after {
  content: "";
}

main {
  display: flex;
  justify-content: center;
}
main aside:nth-child(1) {
  position: fixed;
  top: 56px;
  left: 0px;
}
main aside:nth-child(3) {
  position: fixed;
  top: 56px;
  right: 0px;
}

.mainSection {
  width: 500px;
  margin-top: 56px;
}
.mainSection .postContainer {
  width: 100%;
  height: auto;
  background-color: #242526;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  color: white;
}
.mainSection .postContainer .links {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainSection .postContainer .links > span {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-sizing: border-box;
}
.mainSection .postContainer .links > span:first-child {
  color: #2374e1;
  border-bottom: 2px solid #2374e1;
}
.mainSection .postContainer .links > span:first-child a:hover {
  background-color: transparent;
}
.mainSection .postContainer .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.mainSection .postContainer .links a:hover {
  background-color: #4e4f50;
}
.mainSection .postContainer .links a img, .mainSection .postContainer .links a aside .main-menu i, aside .main-menu .mainSection .postContainer .links a i {
  width: 24px;
  height: 24px;
}
.mainSection .postContainer .links a label {
  cursor: inherit;
}
.mainSection .postContainer .histories {
  display: flex;
  width: 100%;
  color: white;
  font-weight: bold;
  gap: 0.5rem;
  margin: 10px 0;
}
.mainSection .postContainer .histories .history {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  background-size: auto 100%;
  background-color: rgba(24, 25, 26, 0.3);
  background-blend-mode: multiply;
  cursor: pointer;
}
.mainSection .postContainer .histories .history:hover {
  opacity: 0.8;
  background-size: auto 103%;
  transition: background-size 250ms, opacity 250ms;
}
.mainSection .postContainer .histories .history.new {
  padding: 0;
  position: relative;
  z-index: 1;
}
.mainSection .postContainer .histories .history.new > div {
  position: absolute;
  left: calc(50% - 16px);
  top: 130px;
  background-color: #2374e1;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  border: 1px solid #18191a;
}
.mainSection .postContainer .histories .history.new span {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  background-color: #18191a;
  text-align: center;
}
.mainSection .postContainer .thoughts {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mainSection .postContainer .thoughts img, .mainSection .postContainer .thoughts aside .main-menu i, aside .main-menu .mainSection .postContainer .thoughts i {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.mainSection .postContainer .thoughts input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #3a3b3c;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
}
.mainSection .postContainer .thoughts input::-moz-placeholder {
  font-size: 1rem;
  color: #b0b3b8;
}
.mainSection .postContainer .thoughts input:-ms-input-placeholder {
  font-size: 1rem;
  color: #b0b3b8;
}
.mainSection .postContainer .thoughts input::placeholder {
  font-size: 1rem;
  color: #b0b3b8;
}
.mainSection .postContainer .thoughts input:focus {
  outline: none;
}
.mainSection .postContainer hr {
  margin: 0.8rem 0;
  border: 0.7px solid #3a3b3c;
}
.mainSection .postContainer .buttons-thoughts {
  display: flex;
  align-items: center;
}
.mainSection .postContainer .buttons-thoughts button {
  border: none;
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  color: #e4e6eb;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 10px;
}
.mainSection .postContainer .buttons-thoughts button:hover {
  background-color: #3a3b3c;
}
.mainSection .postContainer .buttons-thoughts button i {
  width: 24px;
  height: 24px;
}
.mainSection .postContainer .head {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
}
.mainSection .postContainer .head img, .mainSection .postContainer .head aside .main-menu i, aside .main-menu .mainSection .postContainer .head i {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.mainSection .postContainer .head .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mainSection .postContainer .head .profile .info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.mainSection .postContainer .head .profile .name {
  font-weight: bold;
}
.mainSection .postContainer .head .profile .name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mainSection .postContainer .head .profile .time {
  color: #b0b3b8;
}
.mainSection .postContainer .head .profile .time:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mainSection .postContainer .head .profile .time i {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
}
.mainSection .postContainer .head .profile .time .public, .mainSection .postContainer .head .profile .time .friends {
  background-image: url("img/icons/public.svg");
  background-size: 100%;
  position: relative;
}
.mainSection .postContainer .head .profile .time .public::after, .mainSection .postContainer .head .profile .time .friends::after {
  content: "Público";
  position: absolute;
  top: -35px;
  left: -30px;
  font-style: normal;
  color: #3a3b3c;
  background-color: #e4e6eb;
  padding: 8px 15px;
  border-radius: 7px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 500ms;
}
.mainSection .postContainer .head .profile .time .public::after:hover, .mainSection .postContainer .head .profile .time .friends::after:hover {
  display: none;
}
.mainSection .postContainer .head .profile .time .public:hover::after, .mainSection .postContainer .head .profile .time .friends:hover::after {
  opacity: 1;
}
.mainSection .postContainer .head .profile .time .friends {
  background-image: url("img/icons/friends.svg");
}
.mainSection .postContainer .head .profile .time .friends::after {
  content: "Amigos";
}
.mainSection .postContainer .head .options {
  display: flex;
}
.mainSection .postContainer .head .options button {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mainSection .postContainer .head .options button img, .mainSection .postContainer .head .options button aside .main-menu i, aside .main-menu .mainSection .postContainer .head .options button i {
  width: 60%;
  height: 60%;
}
.mainSection .postContainer .head .options button:hover {
  background-color: #4e4f50;
}
.mainSection .postContainer .message {
  padding: 0 1rem;
}
.mainSection .postContainer .imgGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 150px;
  width: 100%;
  height: 400px;
  gap: 4px;
}
.mainSection .postContainer .imgGrid div {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.mainSection .postContainer .postInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #b0b3b8;
}
.mainSection .postContainer .buttons {
  width: calc(100% - 30px);
  display: flex;
  border-top: 1px solid #3a3b3c;
  border-bottom: 1px solid #3a3b3c;
  margin: 10px 1rem;
}
.mainSection .postContainer .buttons button {
  width: 100%;
  height: 32px;
  border: none;
  background-color: transparent;
  color: #e4e6eb;
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSection .postContainer .buttons button:hover {
  background-color: #4e4f50;
}
.mainSection .postContainer .buttons button i {
  display: inline-block;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/G49NCMUgqwv.png");
  width: 18px;
  height: 18px;
  filter: invert(1);
  margin-right: 1rem;
}
.mainSection .postContainer .buttons button i.like {
  background-position-y: -201px;
}
.mainSection .postContainer .buttons button i.comment {
  background-position-y: -163px;
}
.mainSection .postContainer .buttons button i.share {
  background-position-y: -220px;
}

@media only screen and (max-width: 1260px) {
  header input {
    display: none;
  }
  header .search .searchBar {
    width: 40px;
    padding: 0;
    justify-content: center;
  }
}
@media only screen and (max-width: 1100px) {
  main {
    justify-content: flex-start;
    margin-left: calc((100% - 300px - 500px) / 2);
  }
  main aside:nth-child(1) {
    display: none;
  }
  header .links {
    width: 40%;
  }
  header .links a.videoGamesIcon {
    display: none;
  }
  header .links a.plusIcon {
    display: flex;
  }
  header .menu {
    gap: 0.4rem;
  }
  header .menu button.menuBtn {
    display: none;
  }
  header .menu button.plusBtn {
    display: flex;
  }
}
@media only screen and (max-width: 900px) {
  main {
    justify-content: center;
    margin-left: 0;
  }
  main aside:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  header .links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  header .links a {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .mainSection {
    width: 100%;
  }
  .mainSection .postContainer .buttons-thoughts .feelingsBtn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */